html,
body {
    background-color: black;
}

header {
    background-color: rgb(228, 19, 19);
    padding: 20px;
}

header,
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

main,
.row,
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.row {
    margin-bottom: 25px;
    margin-top: 25px;
}

i {
    font-size: 100px;
}

.col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

a {
    color: white;
}

.modal p {
    color: black;
}

.modal i {
    font-size: smaller;
}

.btn-danger{
    background-color: #c41b1e;
}

.accion{
    font-size: 30px;
    background-color: #c41b1e;
}

.header .logo {
    width: 140px;
}

.header .info {
    padding-top: 5px;
}

.header .info p {
    font-weight: bolder;
    margin-bottom: 0
}

.sublogo-space {
    text-align: right;
}

.titulo-anual h4 {
    font-weight: bold;
    margin: 35px 0 25px 0;
    font-size: 14px;
}

.table-usfq thead {
    background: #c41b1e;
    color: white;
}

.thead {
    background: #c41b1e;
    color: white;
    text-align: center;
}

.table-usfq thead th {
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}

.table-usfq .thead {
    text-align: center;
    font-size: 10px;
    font-weight: bold !important;
}

.theadNombre {
    text-align: center !important;
    font-weight: bold !important;
}

.table-usfq tbody tr td {
    font-size: 11px;
}

.table-usfq tbody tr td:first-child {
    text-align: center;
}

.table-usfq tbody tr td:nth-child(3) {
    text-align: center;
}

.table-usfq tbody tr:last-child {
    background: #595959 !important;
    color: white;
}

.table-usfq tbody tr:last-child td:nth-child(2) {
    text-align: right;
    font-weight: bold;
}

.table-usfq thead th:nth-child(2) {
    min-width: 200px;
}

.table-usfq .thead td:nth-child(2) {
    min-width: 200px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #F2F2F2 !important;
}

.table-usfq tbody tr td:last-child img {
    cursor: pointer;
}

table tbody>tr>td {
    border-top: none !important;
}

.table-usfq tr:nth-child(even) {
    background: #F2F2F2;
}

.table-usfq td {
    padding: 3px;
    vertical-align: middle;
}