body {
    font-family: 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-section h1 {
    margin-bottom: 8rem;
}

.hero-section p {
    font-size: 2rem;
}

.topics-section p {
    font-size: 1.2rem;
}
